.form-newsletter{
    display: flex;
    width: 100%;
    overflow: hidden;
}

.form-newsletter-label{
    position: absolute;
    left: -100000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.form-newsletter-campo{
    padding: 6em 4rem;
    flex-grow: 1;
    border: none;
}

.form-newsletter-botao {
    border: none;
    flex-grow: 1;
    text-transform: uppercase;
    font-weight: 600;
    background-color: red;
    color: #fff;
}